/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #54329a;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Set a base font and color */
#bodyContent {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-color: #c9b4f2;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border: inset;
  overflow-x: auto;
  height: 94vh;
}

#headContent {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-color: #c9b4f2;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5px;
  border: inset;
  overflow-x: auto;
  margin-top: 1%;
}

.line {
  display: inline-block;
}

#player {
  margin: auto;
}

/* Set a max width for the content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Style headings */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

/* Style links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add some spacing */
p {
  margin-bottom: 10px;
}

/* Add some basic styling to buttons */
button {
  padding: 5px 5px;
  margin-bottom: 6px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid black;
}

button:hover {
  background-color: black;
  color: white;
}

.titleHeading {
  margin-top: 10px;
  margin-bottom: 5px;
}

#currentTimeOfDay {
  color: white;
  text-shadow: 1px 1px black;
}

#timeTillStart {
  color: white;
  text-shadow: 1px 1px black;
}

input {
  padding: 2px;
  font-size: 14px;
  border: 1px solid black;
}

input[type="time"] {
  font-size: 12px;
  color: black;
  background-color: white;
}

#song_time {
  width: 50px;
  text-align: center;
}

textarea {
  font-size: 14px;
}
